.winners-table {
  width: 100%;
  padding: 10px;
  border-collapse: collapse;
  text-align: center;
}

.tbody .trow {
  border-top: 1px solid black;
}

.theader,
.tcell {
  padding: 5px 5px;
}

.theader.sortable {
  cursor: pointer;
  position: relative;
}

.theader.sortable.ASC::after {
  content: "↑";
}

.theader.sortable.DESC::after {
  content: "↓";
}
