.race-container {
  display: flex;
  flex-direction: column;
  border-bottom: 4px dashed black;
  gap: 1rem;
}

.edit-name-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.edit-btns {
  display: flex;
  gap: 0.5rem;
}

.edit-btns__select,
.edit-btns__remove {
  background-color: transparent;
  border: 1px solid black;
  font-size: 1rem;
  padding: 7px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.edit-btns__select:hover,
.edit-btns__remove:hover {
  color: white;
  background-color: black;
}

.car-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.track-container {
  display: flex;
  gap: 1rem;
  height: 3.5rem;
}

.control-btns {
  width: fit-content;
  display: flex;
  align-self: flex-start;
  gap: 0.5rem;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.control-btns__start,
.control-btns__reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  cursor: pointer;
  background-color: transparent;
  padding: 2px;
  border-radius: 5px;
}

.control-btns__start {
  border: 1px solid #00ff00;
  background-image: url("../../assets/svg/start-button.svg");
}
.control-btns__start.no-active {
  border: 1px solid black;
  cursor: not-allowed;
  background-image: url("../../assets/svg/start-button-no-active.svg");
}

.control-btns__reset {
  border: 1px solid #ff0000;
  background-image: url("../../assets/svg/reset-button.svg");
}
.control-btns__reset.no-active {
  border: 1px solid black;
  cursor: not-allowed;
  background-image: url("../../assets/svg/reset-button-no-active.svg");
}

.race-road-container {
  width: 100vw;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.race-road-container__car {
  align-self: flex-end;
  position: relative;
  right: 0px;
}

.race-road-container__finish {
  display: flex;
  position: absolute;
  right: 100px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  background-color: transparent;
  padding: 2px;
  background-image: url("../../assets/svg/finish-flag.svg");
}
